.header {
 text-align: left;
 font-size: 60%;
 background-color: white;
 border-collapse: separate; 
 border-spacing: 0;
 
}

.header td {
    padding: 5px; 
    border-bottom: 1px solid #2e2d2d; 
}  
.header thead th {
    background-color: rgb(233, 239, 240);
    padding: 5px;
    
}


